<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="MoverSettings"
             type="DirectoryDefender.Configuration.MoverSettingsConfigurationSection, DirectoryDefender" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <MoverSettings culture="en-US">
    <directories>
      <add directoryToWatch="E:\Test" />
      <add directoryToWatch="E:\Test1" />
      </directories>
    <rules defaultMoveToFolder="E:\Default">
      <add fileNamePattern="\d*\.txt" moveToFolder="E:\txt_files" />
      <add fileNamePattern="[0-9].*" moveToFolder="E:\numeric_files" addOrderToName = "true" addDateToName = "true"  />
      </rules>
  </MoverSettings>
    
</configuration>